h1 {
	text-align: center;
}

#books-list {
	width: 1000px;
	margin: 0px auto;
}

.book {
	border: 1px black solid;
	padding: 10px;
	margin: 10px 0px;
}

.book img {
	width: 150px;
	height: 250px;
	margin-right: 10px;
	float: left;
}

.book .title {
	font-size: 14pt;
	font-weight: bold;
}

.book .author {
	font-weight: bold;
	line-height: 130%;
}

.clear {
	clear: both;
	float: none;
}
