h1 {
	text-align: center;
}

p {
	text-align: justify;
}

#content {
	width: 800px;
	margin: 0px auto;
}

#search-bar {
	float: right;
}

.float-right {
	float: right;
}

.book {
	border: 1px black solid;
	padding: 10px;
	margin: 10px 0px;
}

.book img {
	width: 250px;
	height: 350px;
	margin-right: 10px;
	float: left;
}

.book img.small {
	width: 120px;
	height: 180px;
}

#description {
	float: left;
	width: 517px;
}

.book .title {
	font-size: 14pt;
	font-weight: bold;
}

.book .author {
	font-weight: bold;
	line-height: 130%;
}

.clear {
	clear: both;
	float: none;
}
